<section id="about" class="section">
  <div class="about-flex about-container">
    <div class="about-text-container">
      <h2 class="about-title">About the Game</h2>
      <p class="about-text">
        Blaze Union is a tactical role-playing game (RPG) that immerses players
        in a world of epic battles, strategic formations, and thrilling
        conquests. As the leader of a rising army, you must build your forces,
        outmaneuver rivals, and shape the destiny of your kingdom.
      </p>
      <p>
        Master deep combat mechanics, recruit legendary heroes, and customize
        your strategies to triumph in battle. Every decision you make will
        impact your journey—from forging alliances to leading massive armies in
        the heat of war. Will you rise as the ultimate commander, or will your
        enemies seize control? Prepare to ignite the battlefield and carve your
        legend in Blaze Union!
      </p>
    </div>
    <div class="about-picture-container">
      <picture>
        <source
          srcset="
            ./img/about/about-desc.png        1x,
            ./img/about/about-desc.png@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/about/about-mob.png 1x, ./img/about/about-mob.png@2x.jpg 2x"
          media="(min-width: 280px)"
        />
        <img
          class="about-picture"
          src="./img/about/about-desc.png"
          alt="game hero"
        />
      </picture>
    </div>
  </div>
</section>
