<div class="overlay"></div>
<div class="cookie-popup">
  <div class="cookie-content">
    <p class="cookie-text">How about cookies?</p>
    <p class="cookie-text cookie-text-about">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookie-btn-wrap">
      <button class="cookie-btn decline-btn">Decline</button>
      <button class="cookie-btn accept-btn">Accept</button>
    </div>
  </div>
</div>
