<section class="section">
  <div class="container-description">
    <h2>Description</h2>
    <div class="description-text-container">
      <p class="description-text">
        Blaze Union is a tactical role-playing game (RPG) that immerses players
        in a world of epic battles, strategic formations, and thrilling
        conquests. As the leader of a rising army, you must build your forces,
        outmaneuver rivals, and shape the destiny of your kingdom.
      </p>
      <p class="description-text-second">
        Master deep combat mechanics, recruit legendary heroes, and customize
        your strategies to triumph in battle. Every decision you make will
        impact your journey—from forging alliances to leading massive armies in
        the heat of war. Will you rise as the ultimate commander, or will your
        enemies seize control?<br />Prepare to ignite the battlefield and carve
        your legend in Blaze Union!
      </p>
      <p class="description-text-accent">
        Prepare to ignite the battlefield and carve your legend in Blaze Union!
      </p>
    </div>
  </div>
</section>
