<section class="future">
  <div class="container feature-container">
    <h2 class="section-title">Feature Highlights</h2>
    <ul class="list">
      <li class="item">
        <picture class="feature-picture">
          <source
            srcset="
              ./img/feature/picture3.png    1x,
              ./img/feature/picture3@2x.png 2x
            "
          />
          <img class="image" src="./img/feature/picture3.png" alt="Tactical" />
        </picture>
        <div class="wrapper">
          <div class="block-text">
            <h3 class="title">Tactical Turn-Based Combat</h3>
            <p class="text">
              Engage in thrilling, strategic battles where every move counts.
            </p>
          </div>
          <div class="block-text">
            <h3 class="title">Expansive Hero Roster</h3>
            <p class="text">
              Unlock and upgrade a diverse selection of warriors, each with
              unique skills and lore.
            </p>
          </div>
        </div>
      </li>
      <li class="item">
        <picture class="feature-picture">
          <source
            srcset="
              ./img/feature/picture.png    1x,
              ./img/feature/picture@2x.png 2x
            "
          />
          <img
            class="image"
            src="./img/feature/picture.png"
            alt="Stunning Visuals"
          />
        </picture>
        <div class="wrapper">
          <div class="block-text">
            <h3 class="title">Stunning Visuals</h3>
            <p class="text">
              Enjoy beautifully crafted environments, spellbinding battle
              animations, and cinematic cutscenes
            </p>
          </div>
          <div class="block-text">
            <h3 class="title">Story-Driven Gameplay</h3>
            <p class="text">
              Experience an immersive narrative filled with political intrigue,
              unexpected betrayals, and heroic triumphs.
            </p>
          </div>
        </div>
      </li>
      <li class="item">
        <picture class="feature-picture">
          <source
            srcset="
              ./img/feature/picture2.png    1x,
              ./img/feature/picture2@2x.png 2x
            "
          />
          <img
            class="image"
            src="./img/feature/picture2.png"
            alt="Competitive PvP Mode"
          />
        </picture>
        <div class="wrapper">
          <div class="block-text">
            <h3 class="title">Competitive PvP Mode</h3>
            <p class="text">
              Test your skills against other players in real-time strategy
              matches.
            </p>
          </div>
          <div class="block-text">
            <h3 class="title">Alliance System</h3>
            <p class="text">
              Forge alliances with other players to strengthen your forces and
              dominate the battlefield
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
