<section class="container google-container">
  <div class="google-wrapper">
    <h3 class="google-title">
      Embark on your journey to become the </br> ultimate commander in Blaze Union!
    </h3>
    <h4 class="google-title-weak">Download Now on Google Play</h4>
    <a
      href="https://play.google.com/store/apps/details?id=com.volvapps.rts2d&hl=en&gl=us"
      class="google-button"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="./img/google/google.png"
        alt="Google Play Button"
        width="210"
        aria-label="go to Google Play"
      />
    </a>
  </div>
</section>
