.feature-container {
  display: flex;
  flex-direction: column;
}
.feature-section-title {
  line-height: normal;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;
}
.feature-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feature-item:nth-child(even) {
  text-align: end;
}
.feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature-block-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.feature-title {
  font-size: 26px;
  font-style: normal;
  color: $_title_color;
}
.feature-text {
  font-family: Prompt;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.035px;
  color: $_header_color;
}

.feature-image {
  width: 375px;
  height: 238px;
}
@include media(desktop) {
  .feature-list {
    gap: 40px;
  }
  .feature-item {
    flex-direction: row;
    justify-content: space-between;
  }
  .feature-item:nth-child(even) {
    text-align: end;
  }
  .feature-item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .feature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
  }

  .feature-title {
    font-size: 36px;
  }
  .feature-text {
    font-size: 18px;
    letter-spacing: 0.09px;
  }

  .feature-image {
    width: 490px;
    height: 300px;
  }
}
