.header {
  height: 76px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: $_main_bg_color;
}

.header-container {
  position: fixed;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  top: 0;
  @include media(desktop) {
    padding-left: 80px;
    padding-right: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo {
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.logo-link {
  padding: 10px;
}

.nav {
  @include media(to-desktop) {
    display: block;
    display: none;
    visibility: hidden;
  }
  margin: auto;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include media(desktop) {
    flex-direction: row;
  }
}

.header-dropdown {
  position: fixed;
  top: -100%;
  right: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
  padding: 8px 16px 32px 32px;
  background-color: $_main_bg_color;
  min-width: 177px;
  @include media(desktop) {
    display: none;
  }
}

.menu-open {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  @include media(desktop) {
    display: none;
  }
}

.nav-link {
  display: block;
  padding: 10px;
  color: $_header_color;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0em;
}

.header-dropdown.open {
  top: 76px;
}

.menu-close {
  margin-left: auto;
  display: block;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
