.how-container {
  display: flex;
  flex-direction: column;
}

.how-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(desktop) {
    gap: 40px;
  }
}
.how-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.how-item:nth-child(even) {
  text-align: end;
}

.how-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(desktop) {
    justify-content: space-between;
    padding: 28px 20px;
  }
}
.how-block-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.how-title {
  font-size: 26px;
  color: $_title_color;
  @include media(desktop) {
    font-size: 36px;
  }
}
.how-text {
  letter-spacing: 0.035px;
  color: $_header_color;
  @include media(desktop) {
    font-size: 18px;
    letter-spacing: 0.09px;
  }
}

.how-image {
  width: 375px;
  height: 238px;
  @include media(desktop) {
    width: 490px;
    height: 300px;
  }
}
@include media(desktop) {
  .how-item:nth-child(even) {
    text-align: end;
  }
  .how-item:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
// =================== Transform ==================
.box:hover {
  animation: animateX 3000ms infinite 1000ms;
}

@keyframes animateX {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}
// =================== Transform ==================
