@import './common/global.scss';
@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './description.scss';
@import './how-to-play.scss';
@import './feature.scss';
@import './quests.scss';
@import './why-us.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './google.scss';
@import './faq.scss';
@import './footer.scss';
@import './cookie-popup.scss';

@import './pages.scss';

:root {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #fdfcfc;
  background-color: #1d0000;

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include media(desktop) {
    font-size: 18px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 80px 80px;
  }
}
